/* styles.css */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.sidebar {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    background-color: #343a40;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Assure que la navbar est au-dessus du contenu */
}

.sidebar .nav-link {
    padding: 10px 15px;
    color: #c2c7d0;
    transition: all 0.3s ease;
}

.sidebar .nav-link.active {
    background-color: #007bff;
    color: white;
}

.sidebar .nav-link:hover {
    background-color: #495057;
    color: white;
}

main{
    margin-left: 350px; /* Décalage égal à la largeur de la navbar */
    padding: 20px;
    width: calc(100% - 250px); /* Ajuste la largeur du contenu principal */
}

.card {
    border: none;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.table {
    border-radius: 10px;
    overflow: hidden;
}

.table thead {
    background-color: #343a40;
    color: white;
}

.table-hover tbody tr:hover {
    background-color: #f1f1f1;
}

.btn {
    border-radius: 5px;
}



